<a href="https://colab.research.google.com/github/eng-aomar/cross-selling/blob/main/bravo_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mounting Google Drive locally

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [7]:
df_items=pd.read_csv('/content/drive/My Drive/Query.csv')
df_items

         dTicketInternalKey  BravoNo  ... CustomerGroup  CustomerNo
0                  30860300        1  ...             0           0
1                  30860300        1  ...             0           0
2                  30860300        1  ...             0           0
3                  30860300        1  ...             0           0
4                  30860301        1  ...             0           0
...                     ...      ...  ...           ...         ...
3481787            31755806        1  ...             1      628959
3481788            31755806        1  ...             1      628959
3481789            31755806        1  ...             1      628959
3481790            31755806        1  ...             1      628959
3481791            31755806        1  ...             1      628959

[3481792 rows x 22 columns]

In [9]:
df_items.columns

Index(['dTicketInternalKey', 'BravoNo', 'Invoice_Date', 'cBrutoValue',
       'POS_NO', 'BillNo', 'dItemInternalKey', 'Barcode', 'ItemName',
       'GrossRetailPrice', 'Quantity', 'TotalBeforeDisc', 'DiscValue',
       'NetSales_IncVAT', 'Total_Net_InvoiceIncVAT', 'bHasPromotions',
       'OfferNo', 'dVendorId', 'DeptNo', 'CashierNo', 'CustomerGroup',
       'CustomerNo'],
      dtype='object')

In [13]:
df_items.corr()

                         dTicketInternalKey  ...  CustomerNo
dTicketInternalKey                 1.000000  ...   -0.019221
BravoNo                           -0.009538  ...    0.054350
cBrutoValue                        0.005768  ...    0.091638
POS_NO                             0.016708  ...    0.088368
BillNo                            -0.224305  ...   -0.035654
dItemInternalKey                   0.002462  ...    0.029373
Barcode                           -0.012756  ...    0.028200
GrossRetailPrice                   0.005516  ...    0.054024
Quantity                           0.005002  ...    0.031082
TotalBeforeDisc                    0.005768  ...    0.091638
DiscValue                          0.008937  ...    0.094756
NetSales_IncVAT                    0.004395  ...    0.080803
Total_Net_InvoiceIncVAT           -0.015352  ...    0.462929
bHasPromotions                    -0.003982  ...   -0.200238
OfferNo                            0.005708  ...    0.146331
dVendorId                          0.006765  ...   -0.001475
DeptNo                            -0.000668  ...   -0.048564
CashierNo                          0.010742  ...    0.035576
CustomerGroup                     -0.021076  ...    0.935824
CustomerNo                        -0.019221  ...    1.000000

[20 rows x 20 columns]

In [10]:
df_items.shape

(3481792, 22)

In [11]:
df_items.describe()

       dTicketInternalKey       BravoNo  ...  CustomerGroup    CustomerNo
count        3.481792e+06  3.481792e+06  ...   3.481792e+06  3.481792e+06
mean         3.132324e+07  3.624964e+00  ...   2.935948e-01  1.258389e+05
std          2.567026e+05  2.748435e+00  ...   4.554086e-01  2.085804e+05
min          3.086030e+07  1.000000e+00  ...   0.000000e+00  0.000000e+00
25%          3.111291e+07  1.000000e+00  ...   0.000000e+00  0.000000e+00
50%          3.133082e+07  3.000000e+00  ...   0.000000e+00  0.000000e+00
75%          3.154733e+07  5.000000e+00  ...   1.000000e+00  3.133950e+05
max          3.175581e+07  1.000000e+01  ...   1.000000e+00  4.353006e+06

[8 rows x 20 columns]

In [12]:
df_items.isnull().any()

dTicketInternalKey         False
BravoNo                    False
Invoice_Date               False
cBrutoValue                False
POS_NO                     False
BillNo                     False
dItemInternalKey           False
Barcode                    False
ItemName                   False
GrossRetailPrice            True
Quantity                   False
TotalBeforeDisc            False
DiscValue                  False
NetSales_IncVAT            False
Total_Net_InvoiceIncVAT    False
bHasPromotions             False
OfferNo                    False
dVendorId                  False
DeptNo                     False
CashierNo                  False
CustomerGroup              False
CustomerNo                 False
dtype: bool

In [4]:
df_custmers=pd.read_csv('/content/drive/My Drive/Query2.csv')
df_custmers

         dCustomerId  iClubId  iStoreId  ... cVat  cSalesCost  cWasteCost
0              17746        6         1  ...  NaN         NaN         NaN
1              18484        1         1  ...  NaN         NaN         NaN
2              18484        1         1  ...  NaN         NaN         NaN
3              18484        1         1  ...  NaN         NaN         NaN
4              18484        1         1  ...  NaN         NaN         NaN
...              ...      ...       ...  ...  ...         ...         ...
1018995       154036        1        10  ...  NaN         NaN         NaN
1018996       154036        1        10  ...  NaN         NaN         NaN
1018997       154036        1        10  ...  NaN         NaN         NaN
1018998       154036        1        10  ...  NaN         NaN         NaN
1018999       154036        1        10  ...  NaN         NaN         NaN

[1019000 rows x 18 columns]

In [5]:
df_custmers.columns

Index(['dCustomerId', 'iClubId', 'iStoreId', 'dtDate', 'dItemInternalKey',
       'iDepartmentId', 'iItemGroupId', 'iSubGroupId', 'dVendorId',
       'cPurchasesAmount', 'cDiscount', 'dPurchasesQuantity', 'iTicketId',
       'iPoints', 'sPointsPromo', 'cVat', 'cSalesCost', 'cWasteCost'],
      dtype='object')

In [6]:
df_custmers.isnull().any()

dCustomerId           False
iClubId               False
iStoreId              False
dtDate                False
dItemInternalKey      False
iDepartmentId         False
iItemGroupId          False
iSubGroupId           False
dVendorId             False
cPurchasesAmount      False
cDiscount             False
dPurchasesQuantity    False
iTicketId              True
iPoints               False
sPointsPromo           True
cVat                   True
cSalesCost             True
cWasteCost             True
dtype: bool